.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 36px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Nest-logo-container {
  padding: 10px;
  border-radius: 50%;
  backdrop-filter: blur(6px);
  background-color: rgba(255,255,255, 0.1);
  border: solid 1px rgba(255,255,255, 0.1);
}

.Nest-logo-container svg {
  display: block;
}

a {
  text-decoration: none;
  outline: 0;
  border: none;
  outline-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:active, a:focus {
  outline: 0;
  border: none;
  outline-style: none;
}

iframe {
  pointer-events: none;
  user-select: none;
  margin: 0;
  display: block;
  outline: 0;
  border: none;
  border-radius: 2px;
  /* transform: scale(1.5); */
}

.flex-container a {
  position: relative;
  padding: none;
  margin: auto;
  text-decoration: none;
  outline: 0;
  border: none;
  outline-style: none;
}
a .empty {
  position: absolute;
  height:100%;
  width:100%;
  top:0;
  left:0;
  /* transform: scale(1.5); */
}


.flex-container {
  display: flex;
  /* row-gap: 48px; */
  /* column-gap: 96px; */
  flex-wrap: wrap;
  justify-content: center;
}

.Logo-container {
  display: flex;
  align-items: center;
}

.title {
  font-size: 72px;
  font-weight: 700;
}

.Card-container {
  display: flex;
  /* gap: 40px;`` */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 6%;
}

.Card-container a {
  height: max-content;
}

.Card {
  padding: 80px;
  border-radius: 6%;
  backdrop-filter: blur(6px);
  background-color: rgba(255,255,255, 0.1);
  border: solid 1px rgba(255,255,255, 0.1);
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  align-items: center;
  margin: 20px;
}

.Thumbnail {
  max-width: 300px;
  height: 150px;
  border-radius: 16px;
  margin: auto;
}

.Thumbnail-container {
  border-radius: 16px;
  backdrop-filter: blur(6px);
  background-color: rgba(255,255,255, 0.1);
  border: solid 1px rgba(255,255,255, 0.1);
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  margin: 36px 24px;
}